.App {
  text-align: center;
  padding: 20px;
}

textarea {
  width: 80%;
  height: 100px;
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
}

.error {
  color: red;
}

select {
  margin-top: 10px;
}
